<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.polygalov.dao.WorkerMapper">

    <resultMap id="BaseResultMap" type="com.polygalov.model.Worker">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="PHONE" jdbcType="VARCHAR" property="phone"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID, NAME, PHONE
    </sql>

    <select id="getAll" resultMap="BaseResultMap">
        select * from workers
    </select>

</mapper>